form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
label {
  display: flex;
  margin: 8px;
}
input,
textarea {
  max-width: 200px;
  width: 100%;
}
button {
  width: 100%;
  background-color: rgb(243, 196, 162);
}
.comment {
  background-color: blanchedalmond;
  margin: 4px;
  border: 1px solid rgb(103, 71, 16);
  display: flex;
  justify-content: space-between;
}
.comments-buttons {
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
}
.comments-buttons button{
    margin: 1px;
}

.forms{
  display: flex;
  justify-content: space-around;
}